.javascript {
    background-color: #f1e05a;
}

.typescript {
    background-color: #2b7489;
}

.c {
    background-color: #555555;
}

.csharp {
    background-color: #f34b7d;
}

.cplusplus {
    background-color: #f34b7d;
}

.java {
    background-color: #b07219;
}

.vim {
    background-color: #199f4b;
}

.shell {
    background-color: #89e051;
}

.css {
    background-color: #563d7c;
}

.scss {
    background-color: #c6538c;
}

.asp-net {
    background-color: #9400ff;
}

.html {
    background-color: #e34c26;
}

.vue {
    background-color: #41b883;
}

.ruby {
    background-color: #701516;
}

.coffee {
    background-color: #244776;
}

.php {
    background-color: #4F5D95;
}

.objective-c {
    background-color: #438eff;
}

.objective-cplusplus {
    background-color: #438eff;
}
